<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Dron HealthView</title>
        <link rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    </head>
    <body>

        <header class="text-gray-600 body-font bg-indigo-100">
            <div class="container mx-auto flex flex-wrap items-center
                justify-between
                py-4 md:py-5 px-4 md:px-5">
                <a href="index.html" class="flex items-center text-gray-900">
                    <img src="logo.png" alt="Logo" class="w-16 md:w-40 mr-4
                        md:mr-6">
                </a>
                <nav class="md:hidden">
                    <button class="flex items-center px-3 py-2 rounded
                        hover:text-gray-900
                        focus:outline-none">
                        <svg class="w-6 h-6 fill-current" viewBox="0 0 24 24">
                            <path fill-rule="evenodd" d="M3.75
                                7.5H20.25V9.75H3.75V7.5ZM3.75
                                11.25H20.25V13.5H3.75V11.25ZM3.75
                                15H20.25V17.25H3.75V15Z"></path>
                        </svg>
                    </button>
                    <div class="hidden absolute top-16 left-0 right-0 z-10
                        bg-indigo-100">
                        <a href="#" class="block px-4 py-2 text-gray-900
                            hover:bg-gray-200
                            font-bold">Dashboard</a>
                        <a href="Firstaid.html" class="block px-4 py-2 text-gray-900
                            hover:bg-gray-200
                            font-bold">First Aid Tips</a>
                        <a href="#" class="block px-4 py-2 text-gray-900
                            hover:bg-gray-200
                            font-bold">Medical Providers</a>
                        <a href="About.html" class="block px-4 py-2
                            text-gray-900
                            hover:bg-gray-200
                            font-bold">About</a>
                    </div>
                </nav>
                <nav class="hidden md:flex md:ml-auto md:mr-4">
                    <a href="#" class="mr-5 hover:text-gray-900 font-bold">Dashboard</a>
                    <a href="Firstaid.html" class="mr-5 hover:text-gray-900 font-bold">First
                        Aid Tips</a>
                    <a href="#" class="mr-5 hover:text-gray-900 font-bold">Medical
                        Providers</a>
                    <a href="About.html" class="mr-5 hover:text-gray-900
                        font-bold">About</a>
                </nav>
                <!-- user -->
                <div class="dropdown relative md:static">
                
                    <button class="menu-btn focus:outline-none
                        focus:shadow-outline flex flex-wrap items-center">
                        <div class="w-8 h-8 overflow-hidden rounded-full">
                            <img class="w-full h-full object-cover"
                                src="bhaisab.jpg">
                        </div>
                
                        <div class="ml-2 capitalize flex ">
                            <h1 class="text-sm text-indigo-600 font-semibold m-0
                                p-0 leading-none">moeSaid</h1>
                            <i class="fad fa-chevron-down ml-2 text-xs
                                leading-none text-gray-600"></i>
                        </div>
                    </button>
                
                    <button class="hidden fixed top-0 left-0 z-10 w-full h-full
                        menu-overflow"></button>
                
                    <div class="text-gray-500 menu hidden md:mt-10 md:w-full
                        rounded bg-white shadow-md absolute z-20 right-0 w-40
                        mt-5 py-2 animated faster"></div>
                </div>
            </div>
        </header>
